html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.widget {
	@mainBorder: 1px solid rgba(236, 236, 236, 0.9);

	display: flex;
	position: relative;
	width: 1406px;
	height: 360px;
	padding: 37px 0 0 0;
	border: @mainBorder;
	background: #f7f7f7 repeating-linear-gradient(135deg, transparent 0, transparent 7px, #f2f2f2 7px, #f2f2f2 7.5px);
	background-size: 11px 11px;
	font-family: 'Source Sans Pro', sans-serif;

	&::before {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 37px;
		line-height: 36px;
		border-bottom: @mainBorder;
		background: #f5af00;
		text-align: center;
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		content: 'My Online Reputation'
	}

	&__area {
		flex: 1;
		height: 100%;

		& + & {
			border-left: @mainBorder;
		}
	}
}